Source: trinity2012-05-18
Section: science
Priority: optional
Maintainer: The Genome Institute <gmt@genome.wustl.edu> 
Build-Depends: debhelper (>= 7.4), zlib1g-dev, libbz2-dev, libncurses5-dev, libncursesw5-dev, cdbs
Standards-Version: 3.9.2
Homepage: http://trinityrnaseq.sourceforge.net/

Package: trinity2012-05-18
Architecture: all
Depends: ${misc:Depends}
Description: Trinity, developed at the Broad Institute and the Hebrew University of Jerusalem, 
  represents a novel method for the efficient and robust de novo reconstruction of transcriptomes 
  from RNA-seq data. Trinity combines three independent software modules: Inchworm, Chrysalis, 
  and Butterfly, applied sequentially to process large volumes of RNA-seq reads.
