#!/usr/bin/make -f

PRG=trinity
VER=2012-05-18
BIN_LIST=$$(find -maxdepth 1 -executable -type f)
PKG=$(PRG)$(VER)
DEB_DIR=debian/$(PKG)
PKG_LIB_DIR=/usr/lib/$(PKG)
BIN_WRAPPER=\
'\#!/bin/sh\n'\
'export PATH=$(PKG_LIB_DIR)/bin:$$PATH\n'\
"exec $${BASE_BIN}" '"$$@"'

%:
	dh $@

override_dh_auto_install:
	mkdir -p $(DEB_DIR)/usr/bin $(DEB_DIR)$(PKG_LIB_DIR)/bin
	for dirname in 'Analysis' 'Butterfly' 'Chrysalis' 'Inchworm' 'PerlLib' 'PerlLibAdaptors' 'docs' 'trinity-plugins' 'util'; do \
		cp -r -L $${dirname} ${DEB_DIR}${PKG_LIB_DIR}/bin; \
		done
	for filename in 'LICENSE' 'Makefile' 'README' 'Release.Notes' 'notes'; do \
		cp $${filename} ${DEB_DIR}${PKG_LIB_DIR}/bin; \
		done
	for BIN in $(BIN_LIST); do \
		BASE_BIN=$$(basename $${BIN});\
		install -m 755 $${BIN} $(DEB_DIR)$(PKG_LIB_DIR)/bin/$${BASE_BIN};\
		echo $(BIN_WRAPPER) | sed 's/^ *//' > $(DEB_DIR)/usr/bin/${PKG};\
		done

override_dh_strip:
	echo "Do not create a *dbgsym*.ddeb package."